# GENERATED - DO NOT EDIT THIS FILE DIRECTLY
openapi: 3.0.3

servers:
  - url: https://demo.secapi.cloud/providers/seca.authorization
    description: Path Schema
  - url: https://authorization.seca.demo.secapi.cloud
    description: DNS Schema

info:
  title: Authorization
  version: v1
  description: |
    The Authorization API provides access to authorization resources
    that are shared across all tenants and workspaces in all regions.
    This API is part of the Sovereign European Cloud API.

security:
  - bearerAuth: []

tags:
  - name: Role
    description: Role management
  - name: Role Assignment
    description: Role Assignment management

paths:
  /v1/tenants/{tenant}/roles:
    get:
      tags:
        - Role
      security:
        - bearerAuth: []
      summary: List roles
      description: |
        Lists roles and provides paginated, filtered access.
      operationId: listRoles
      parameters:
        - $ref: './schemas/parameters.yaml#/parameters/tenant'
        - $ref: './schemas/parameters.yaml#/parameters/labelSelector'
        - $ref: './schemas/parameters.yaml#/parameters/limitParam'
        - $ref: './schemas/parameters.yaml#/parameters/skipTokenParam'
        - $ref: './schemas/parameters.yaml#/parameters/acceptHeader'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleIterator"
        '400':
          $ref: './schemas/errors.yaml#/responses/Error400'
        '401':
          $ref: './schemas/errors.yaml#/responses/Error401'
        '403':
          $ref: './schemas/errors.yaml#/responses/Error403'
        '500':
          $ref: './schemas/errors.yaml#/responses/Error500'
  
  /v1/tenants/{tenant}/roles/{name}:
    get:
      tags:
        - Role
      security:
        - bearerAuth: []
      summary: Get role
      description: |
        Get a specific role, useful for polling status updates of resources.
      operationId: getRole
      parameters:
        - $ref: './schemas/parameters.yaml#/parameters/tenant'
        - $ref: './schemas/parameters.yaml#/parameters/resourceName'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: './schemas/rbac.yaml#/Role'
        '400':
          $ref: './schemas/errors.yaml#/responses/Error400'
        '401':
          $ref: './schemas/errors.yaml#/responses/Error401'
        '403':
          $ref: './schemas/errors.yaml#/responses/Error403'
        '404':
          $ref: './schemas/errors.yaml#/responses/Error404'
        '500':
          $ref: './schemas/errors.yaml#/responses/Error500'
    
    put:
      tags:
        - Role
      security:
        - bearerAuth: []
      summary: Create or update role
      description: |
        System roles (ADMIN, WORKSPACE_ADMIN, WORKSPACE_EDITOR, WORKSPACE_VIEWER) cannot be modified.
      operationId: createOrUpdateRole
      parameters:
        - $ref: './schemas/parameters.yaml#/parameters/tenant'
        - $ref: './schemas/parameters.yaml#/parameters/resourceName'
        - $ref: './schemas/parameters.yaml#/parameters/ifUnmodifiedSince'
      requestBody:
        description: |
          Any provided `metadata` on the role will be ignored by the resource server.
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/rbac.yaml#/Role'
      responses:
        '200':
          description: |
            Role successfully updated, doesn't indicate successful
            resource provisioning.
          content:
            application/json:
              schema:
                $ref: './schemas/rbac.yaml#/Role'
        '201':
          description: |
            Role successfully created, doesn't indicate successful
            resource provisioning.
          content:
            application/json:
              schema:
                $ref: './schemas/rbac.yaml#/Role'
        '400':
          $ref: './schemas/errors.yaml#/responses/Error400'
        '401':
          $ref: './schemas/errors.yaml#/responses/Error401'
        '403':
          $ref: './schemas/errors.yaml#/responses/Error403'
        '404':
          $ref: './schemas/errors.yaml#/responses/Error404'
        '409':
          $ref: './schemas/errors.yaml#/responses/Error409'
        '412':
          $ref: './schemas/errors.yaml#/responses/Error412'
        '422':
          $ref: './schemas/errors.yaml#/responses/Error422'
        '500':
          $ref: './schemas/errors.yaml#/responses/Error500'
    
    delete:
      tags:
        - Role
      security:
        - bearerAuth: []
      summary: Delete role
      description: |
        Deletes the specified role. When a role is deleted:
        - The role is removed from all role assignments
        - Role assignments are NOT deleted, even if the role array becomes empty
        - System roles (ADMIN, WORKSPACE_ADMIN, WORKSPACE_EDITOR, WORKSPACE_VIEWER) cannot be deleted
      operationId: deleteRole
      parameters:
        - $ref: './schemas/parameters.yaml#/parameters/tenant'
        - $ref: './schemas/parameters.yaml#/parameters/resourceName'
        - $ref: './schemas/parameters.yaml#/parameters/ifUnmodifiedSince'
      responses:
        '202':
          description: Role deletion accepted
        '400':
          $ref: './schemas/errors.yaml#/responses/Error400'
        '401':
          $ref: './schemas/errors.yaml#/responses/Error401'
        '403':
          $ref: './schemas/errors.yaml#/responses/Error403'
        '404':
          $ref: './schemas/errors.yaml#/responses/Error404'
        '412':
          $ref: './schemas/errors.yaml#/responses/Error412'
        '500':
          $ref: './schemas/errors.yaml#/responses/Error500'
    
  /v1/tenants/{tenant}/role-assignments:
    get:
      tags:
        - Role Assignment
      security:
        - bearerAuth: []
      summary: List role assignments
      description: |
        Lists role assignments and provides paginated, filtered access.
      operationId: listRoleAssignments
      parameters:
        - $ref: './schemas/parameters.yaml#/parameters/tenant'
        - $ref: './schemas/parameters.yaml#/parameters/labelSelector'
        - $ref: './schemas/parameters.yaml#/parameters/limitParam'
        - $ref: './schemas/parameters.yaml#/parameters/skipTokenParam'
        - $ref: './schemas/parameters.yaml#/parameters/acceptHeader'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleAssignmentIterator"
        '400':
          $ref: './schemas/errors.yaml#/responses/Error400'
        '401':
          $ref: './schemas/errors.yaml#/responses/Error401'
        '403':
          $ref: './schemas/errors.yaml#/responses/Error403'
        '500':
          $ref: './schemas/errors.yaml#/responses/Error500'
  
  /v1/tenants/{tenant}/role-assignments/{name}:
    get:
      tags:
        - Role Assignment
      security:
        - bearerAuth: []
      summary: Get role assignment
      description: |
        Retrieves the details of a specific role assignment group by its name
      operationId: getRoleAssignment
      parameters:
        - $ref: './schemas/parameters.yaml#/parameters/tenant'
        - $ref: './schemas/parameters.yaml#/parameters/resourceName'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: './schemas/rbac.yaml#/RoleAssignment'
        '400':
          $ref: './schemas/errors.yaml#/responses/Error400'
        '401':
          $ref: './schemas/errors.yaml#/responses/Error401'
        '403':
          $ref: './schemas/errors.yaml#/responses/Error403'
        '404':
          $ref: './schemas/errors.yaml#/responses/Error404'
        '500':
          $ref: './schemas/errors.yaml#/responses/Error500'
    
    put:
      tags:
        - Role Assignment
      security:
        - bearerAuth: []
      summary: Create or update role assignment
      description: |
        Replaces all role assignments for the specified group within the workspace.
        At least one role must be assigned.
        Note: Role assignments can be created with an empty role array,
        which effectively removes all roles from the group while maintaining
        the role assignment record.
      operationId: createOrUpdateRoleAssignment
      parameters:
        - $ref: './schemas/parameters.yaml#/parameters/tenant'
        - $ref: './schemas/parameters.yaml#/parameters/resourceName'
        - $ref: './schemas/parameters.yaml#/parameters/ifUnmodifiedSince'
      requestBody:
        description: |
          Any provided `metadata` on the role assignment will be ignored by the resource server.
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/rbac.yaml#/RoleAssignment'
      responses:
        '200':
          description: |
            Role Assignment successfully updated, doesn't indicate successful
            resource provisioning.
          content:
            application/json:
              schema:
                $ref: './schemas/rbac.yaml#/RoleAssignment'
        '201':
          description: |
            Role Assignment successfully created, doesn't indicate successful
            resource provisioning.
          content:
            application/json:
              schema:
                $ref: './schemas/rbac.yaml#/RoleAssignment'
        '400':
          $ref: './schemas/errors.yaml#/responses/Error400'
        '401':
          $ref: './schemas/errors.yaml#/responses/Error401'
        '403':
          $ref: './schemas/errors.yaml#/responses/Error403'
        '404':
          $ref: './schemas/errors.yaml#/responses/Error404'
        '409':
          $ref: './schemas/errors.yaml#/responses/Error409'
        '412':
          $ref: './schemas/errors.yaml#/responses/Error412'
        '422':
          $ref: './schemas/errors.yaml#/responses/Error422'
        '500':
          $ref: './schemas/errors.yaml#/responses/Error500'
    
    delete:
      tags:
        - Role Assignment
      security:
        - bearerAuth: []
      summary: Delete role assignment
      description: |
        Deletes the specified role assignment group within the workspace.
        This removes the entire group and all its associated role assignments.
      operationId: deleteRoleAssignment
      parameters:
        - $ref: './schemas/parameters.yaml#/parameters/tenant'
        - $ref: './schemas/parameters.yaml#/parameters/resourceName'
        - $ref: './schemas/parameters.yaml#/parameters/ifUnmodifiedSince'
      responses:
        '202':
          description: Role Assignment deletion accepted
        '400':
          $ref: './schemas/errors.yaml#/responses/Error400'
        '401':
          $ref: './schemas/errors.yaml#/responses/Error401'
        '403':
          $ref: './schemas/errors.yaml#/responses/Error403'
        '404':
          $ref: './schemas/errors.yaml#/responses/Error404'
        '412':
          $ref: './schemas/errors.yaml#/responses/Error412'
        '500':
          $ref: './schemas/errors.yaml#/responses/Error500'
    
components:
  securitySchemes:
    $ref: './schemas/security.yaml#/securitySchemes'

  schemas:
    RoleIterator:
      description: Iterator for roles
      type: object
      required:
        - items
        - metadata
      properties:
        items:
          description: List of roles
          type: array
          items:
            $ref: './schemas/rbac.yaml#/Role'
        metadata:
          $ref: './schemas/resource.yaml#/ResponseMetadata'

    RoleAssignmentIterator:
      description: Iterator for role assignments
      type: object
      required:
        - items
        - metadata
      properties:
        items:
          description: List of role assignments
          type: array
          items:
            $ref: './schemas/rbac.yaml#/RoleAssignment'
        metadata:
          $ref: './schemas/resource.yaml#/ResponseMetadata'
